body {
	margin: 0;
	background: url("pattern.png");

	font-family: Arial;
	line-height: 1.5;
	font-size: 18px;

}

.card {
	width: 665px;
	margin: 30px;
	padding: 20px;

	background-color: #fff;
	box-shadow: 0 12px 7px #ccc;
	border-radius: 10px;

}

.card-title{
	font-size: 20px;
	text-align: center;
	color: #1c8537;
}

.card-text{
	font-size: 14px;
}

