<!doctype html>
<html>
	<head>
		<meta charset="utf-8">
		<link rel="stylesheet" href="/static/style.css">
        <title>Таблица с рекламными компаниями</title>
    </head>
    <body>
        <div class="card">
            <h1 class="card-title">Таблица с рекламными компаниями</h1>
            <div class="card-text">
                    <table>
                    <tr>
                        <td>id</td>
                        <td>имя рекламодателя</td>
                        <td>текст рекламы</td>
                        <td>ссылка на картинку для рекламы</td>
                        <td>статус новое, отправлено</td>
                        <td>дата создания</td>
                        <td>дата отправки</td>
                        <td>скольки людям было отправлено</td>
                    </tr>
                        {% for i_ad in ads %}
                    <tr>
                        <td>{{ i_ad.id }}</td>
                        <td>{{ i_ad.advertiser }}</td>
                        <td>{{ i_ad.ad_text }}</td>
                        <td>{{ i_ad.url_img }}</td>
                        <td>{{ i_ad.status }}</td>
                        <td>{{ i_ad.create_ad }}</td>
                        <td>{{ i_ad.date_sending }}</td>
                        <td>{{ i_ad.number_of_people }}</td>
                    </tr>
                        {% endfor %}

                    </table>
                    {% if errors %}
                    <p>{{ errors }}</p>
                    {% endif %}
                    <form method="POST">
                        имя рекламодателя: <input type="text" name="advertiser" required><br>
                        текст рекламы: <input type="text" name="ad_text" required><br>
                        ссылка на картинку для рекламы: <input type="text" name="url_img" required><br>
                        скольки людям было отправлено: <input type="text" name="number_of_people" required><br>
                        <input type="submit" value="Создать рекламную компанию">
                    </form>
            </div>
        </div>
    </body>
</html>
